<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../css/properties/new.css">
<title>New Zipcode</title>
</head>
<body>
<form action="/zipcodes" method="POST">
    <h1>New Zipcode</h1>
    <div>
        <label for="code">Zipcode:</label>
        <input type="text" id = "code" name  = "code" >
    </div>
    <div>
        <label for="city">City:</label>
        <input type="text" id = "city" name  = "city" >
    </div>
    <div>
        <label for="state">State:</label>
        <input type="text" id = "state" name  = "state" >
    </div>
    <input type="submit" value="Add New Zipcode">
</form>
</body>
</html>